<h3 class="page-header">
  All ESAS assesments
  <span class="pull-right">
    <%= link_to "New ESAS assesments", new_esas_assesment_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<ul>
  <% @esas_assesments.each do |esas_assesment| %>
    <li><h3><%= link_to "#{Patient.find_by(id: esas_assesment.patient_id).first_name} #{Patient.find_by(id: esas_assesment.patient_id).last_name} at #{esas_assesment.time}", esas_assesment_path(esas_assesment) %></h3> <%= link_to "Edit", edit_esas_assesment_path(esas_assesment) %> <%= link_to "Delete", esas_assesment_path(esas_assesment), method: :delete, data: {confirm: 'Are you sure you want to delete'} %></li>
  <% end %>
</ul>