<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<div class="row">
  <% @clinicians.each do |clinician| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(clinician.image), clinician_path(clinician) %>
        <div class="caption">
          <h3><%= link_to clinician.first_name clinician.last_name, clinician_path(cclinician) %></h3>
          <p><%= clinician.occupation %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>