<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<div class="row">
  <% @clinicians.each do |clinician| %>
    <div class="col-sm-2 col-md-4">
      <div class="thumbnail">
        <%= link_to clinician.occupation, clinician_path(clinician) %>
        <div class="caption">
          <h3><%= link_to "#{clinician.first_name} #{clinician.last_name}", clinician_path(clinician) %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>