<h2 class="page-header">
  Email Address
  <span class="pull-right">
    <%= link_to "Edit", edit_user_path, class: 'btn btn-u btn-success' %>
  </span>
</h2>
<%= @user.email %>
    	<% if @user.patient == nil %>
    		<%= link_to @user.clinician.first_name, clinician_path(@user.clinician) %>
    	<% else %>
    		<!-- <%= link_to @user.patient.first_name, patient_path(@user.patient) %> -->
    	<% end %>