<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>User Manual | SeeYouNow</title>
</head> 

<body>    

<div class="wrapper">

  <% if current_clinician %>

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">SeeYou<span class="color-green">Now</span> Platform Provider Agreement</h1>
           <!--  <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Terms of Service</li>
            </ul> -->
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">   
      <div class="row-fluid privacy">
            <iframe src="http://docs.google.com/gview?url=http://example.com/mypdf.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
        </div><!--/row-fluid-->  
    </div><!--/container-->   
    <!--=== End Content Part ===-->


  <% else %> <!--=== Patients ===-->


    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">SeeYou<span class="color-green">Now</span> Platform User Agreement</h1>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">   
      <div class="row-fluid privacy">
            

        </div><!--/row-fluid-->    
    </div><!--/container-->   

  <% end %>

</div>

</body>
</html> 