<head>
    <title>SeeYouNow | Privacy Policy</title>
</head>

<body>
<!--=== Blog Posts ===-->
    <div class="bg-color-light">
        <div class="container content-sm">
            <!-- News v3 -->
            <div class="news-v3 margin-bottom-30">
                <div class="news-v3-in">
                    <h2>SeeYou<span class="color-green">Now</span> Platform User Privacy Policy</h2>
                    <ul class="list-inline posted-info">
                        <li>Last Updated: 13 September 2015</li>
                    </ul>
                    <p><strong>Definitions</strong></p>
                    <p>“SeeYouNow Platform” means the [proprietary symptom assessment and management tools and services] facilitated by the Software;</p>
                    <p>“Personal Information” in this Policy means information about an identifiable individual that is collected, used and disclosed in the course of providing Services to you and includes personal health information;</p>
                    <p>“Policy” means this SeeYouNow Platform User Privacy Policy;</p>
                    <p>“Provider” means the provider of Services that you engage through the Software;</p>
                    <p>“Services” means the services provided by the Provider to you; and</p>
                    <p>“Software” means the on-line software used to provide the SeeYouNow Platform and delivered by SeeYouNow to you, as made available by SeeYouNow from time-to-time.</p>
                    <p>SeeYouNow Medical Ltd. (“SeeYouNow”) is committed to protecting and respecting your privacy. SeeYouNow Platform incorporates [Internet reliant, application-based technology] that allows you to communicate with your Provider in a virtual setting.</p>
                    <p>SeeYouNow collects, uses, stores and discloses your Personal Information on behalf of your Provider. It is the responsibility of your Provider to comply with all applicable legislation and regulatory requirements regarding the collection, use, storage and disclosure of your Personal Information.</p>
                    <p>SeeYouNow itself does not disclose your Personal Information unless required by law. SeeYouNow does, however, use your Personal Information that is necessary to give you access to SeeYouNow Platform and, if required, address problems you may encounter with the Software. SeeYouNow also reserves the right to aggregate and anonymize Personal Information stored on its system. Otherwise, all use and disclosure of your Personal Information is in accordance with your Provider’s instructions.</p>
                    <p><strong>Collection of Personal Information</strong></p>
                    <p>When you sign up to use SeeYouNow Platform and when you use the Software, SeeYouNow, on behalf of your Provider and on its own behalf, collects certain Personal Information in order to set up your user account, provide you with access to the system, confirm your identity, and administer your account. This Personal Information may include:</p>
                    <p>·  your identification and contact information (name, address, date of birth, email, etc.);</p>
                    <p>·  optional information such as billing information (public or private insurer information) and your family doctor’s name; and</p>
                    <p>·  Internet, computer and other diagnostic information including your IP Address, computer/software/browser type.</p>
                    <p>·  On behalf of your Provider, SeeYouNow also collects and stores other Personal Information, including:</p>
                    <p>·  your health information (symptoms, diagnosis, medical history, test results, reports, messages and treatment, record of allergies, prescriptions, etc.); and</p>
                    <p>·  information regarding your medical treatment (including notes, discussions, advice, or opinions) and your care providers.</p>
                    <p><strong>Limits on Collection</strong></p>
                    <p>SeeYouNow collects only the Personal Information that is required for Services to be provided between willing participants on the Software, to facilitate the provision of care and communicate with you. SeeYouNow does not collect any other Personal Information, or allow Personal Information to be used for other purposes without your express (written or verbal) consent, except where compelled to do so by law.</p>
                    <p><strong>Use and Disclosure of Personal Information</strong></p>
                    <p>SeeYouNow uses your Personal Information in order to enable you to connect you with your Provider.  SeeYouNow may also disclose your Personal Information where such disclosure is required by law, such as complying with a subpoena or court order.</p>
                    <p>All other use and disclosure of your Personal Information is in accordance with the instructions of your Provider.</p>
                    <p><strong>Consent</strong></p>
                    <p>By executing the User Agreement and using the Software, you are providing SeeYouNow with express consent to collect, store, use and disclose your Personal Information as set out above.</p>
                    <p>To the extent that you have a substitute decision maker, we may require that the individual validate his or her authority to act on your behalf.</p>
                    <p>SeeYouNow may use information collected through the provision of Services on an aggregate and anonymized basis to conduct analyses regarding the utilization of the Software and the services provided in conjunction with the Software. Any aggregate and anonymized data is the sole property of SeeYouNow and stored separately from all Personal Information. The extrapolated information does not identify individuals and is not capable of identifying individuals.</p>
                    <p>You may withdraw your consent to the collection, storage, use and disclosure of your Personal Information as set out in this Policy, subject to any applicable contractual or legal obligation, by contacting your Provider and then contacting SeeYouNow at support@seeyounow.ca. However, the withdrawal of consent will likely result in you no longer being able to access or use SeeYouNow Platform.</p>
                    <p><strong>Accessing your Personal Information</strong></p>
                    <p>Since SeeYouNow collects your Personal Information on behalf of your Provider, any requests for copies of your record should be directed to your Provider.</p>
                    <p>If an inaccuracy is identified in your Personal Information, you may contact your Provider regarding the correction or amendment to your Personal Information.  Any such decision is made exclusively by your Provider.</p>
                    <p><strong>Protecting your Personal Information</strong></p>
                    <p>SeeYouNow ensures that communications and data created and sent using SeeYouNow Platform are secured at server and application levels with encryption, the use of firewalls and computer malware detection and elimination.</p>
                    <p>SeeYouNow operates on a server infrastructure wholly based in Canada and deploys software using industry-standard firewalls and best practices of the information security industry. SeeYouNow server infrastructure is designed to continue to operate in the event of a disaster or prolonged electrical outage. Multiple redundant connections to the Internet ensure that our web application will continue to serve requests in the event of a network outage. Server equipment is stored in facilities equipped with state of the art security. </p>
                    <p>SeeYouNow has taken steps to ensure that everyone who works for SeeYouNow, and the third parties with which we contract, understand the sensitivity of Personal Information and are required to adhere to the protection of Personal Information as set out in this Policy. We educate and train our staff on the importance of protecting Personal Information and ensure that access is provided only on a “need-to-know” basis. We use roles-based access to ensure that only those who are authorized to access your Personal Information can access it.</p>
                    <p>For greater clarity, we do not take steps and are not responsible for a Provider’s activities and omissions.</p>
                    <p>Providers will have their own privacy policies in place. SeeYouNow is not responsible for Providers’ activities and omissions, in particular, how they retain or secure their own data related to the provision of the Services.</p>
                    <p>You and you alone are responsible for ensuring that you do not disclose your account access information to third parties. This includes but is not limited to not disclosing such information to anyone, ensuring that sufficient security software is installed and running on your computer, smartphone or tablet, that your network firewall is of sufficient quality and that your wireless connection is encrypted to a degree that will prevent third party access. SeeYouNow is not responsible for any failure by you or your Provider to secure your own device and its access to the Internet or your use of public, unsecured networks. SeeYouNow also is not responsible for any failure by you to eliminate malware. These failures and others can make you vulnerable to privacy breaches and would put you and your data at risk.</p>
                    <p><strong>Challenging Compliance</strong></p>
                    <p>If you have any questions about the application of our Privacy Policy to your Personal Information, or wish to make an inquiry or submit a complaint, you should contact our Privacy Officer at support@seeyounow.ca.</p>
                </div>
            </div>                        
            <!-- End News v3 -->
        </div><!--/end container-->
    </div>
    <!--=== End Blog Posts ===-->
</body>