<%= form_for @patient do |form| %>
  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>
  <%= form.button 'Update Patient', class: "btn btn-success" %>
<% end %>