<h3 class="page-header">
  All ESAS assessments
  <span class="pull-right">
    <%= link_to "New ESAS assessments", new_esas_assessment_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<ul>


  <% @esas_assessments.each do |esas_assessment| %>
	    <li><h4><%= link_to "#{ esas_assessment.patient.first_name } #{ esas_assessment.patient.last_name} at #{esas_assessment.time}", esas_assessment_path(esas_assessment) %></h4> 
	    <%= link_to "Edit", edit_esas_assessment_path(esas_assessment) %> <%= link_to "Delete", esas_assessment_path(esas_assessment), method: :delete, data: {confirm: 'Are you sure you want to delete'} %></li>
  <% end %>
</ul>