<head>
    <title>SeeYouNow | Feedback</title>
</head>

<h3 class="page-header">
    Feedback from <%= @feedback.full_name %>

  <span class="pull-right">
    <%= link_to "Edit feedback", edit_feedback_path, class: 'btn btn-u btn-success' %>
  </span>
</h3>

<body>
<!--=== Profile ===-->
    <div class="profile container content">
      <div class="row">
            <div class="col-md-12">
              <!--Profile Body-->
              <div class="profile-body">

                <div class="row margin-bottom-20"><!--start row-->
                  
                  <!--End Feedbacks Post-->
                  <div class="col-sm-7">
                      <div class="panel panel-profile">
                          <div class="panel-heading overflow-h">
                              <h2 class="panel-title heading-sm pull-left"><i class="fa fa-feedbacks-o"></i> Feedback</h2>
                          </div>
                          <div id="scrollbar4" class="panel-body contentHolder">
                                <div class="feedback">
                                    <div class="overflow-h">
                                        <strong><small class="pull-right"> <%= time_ago_in_words(@feedback.created_at) %></small></strong>
                                          <p><%= @feedback.feedback_comment %></p>
                                    </div>    
                                </div>
                          </div>
                      </div>    
                  </div><!--End Feedbacks Post-->


                </div><!--/end row-->
              </div><!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

</body>
</html> 