body {
  margin-top: 30px;
}
.navbar-inverse .navbar-brand {
  font-family: 'Luckiest Guy', cursive;
  font-size: 36px;
  color: #ff3061;
  padding-top: 20px;
}
h1.title {
  padding: 0 30px 30px 0;
}
h2 {
  font-size: 22px;
}
.rating {
  font-size: 0.4em;
  text-transform: uppercase;
  border: 1px solid #ccc;
  padding: 4px;
  vertical-align: middle;
}
.summary h2, .actors h2 {
  margin-top: 0;
}
.actors li {
  line-height: 24px;
}
.review {
  margin-bottom: 30px;
}
.thumbnail {
  height: 510px;
}